
<div id="about">
    <div id="about-me-info">
        <span class="big-text">Привет, меня зовут <span class="method-highlight">Артём</span>.</span><br>
        <div style="padding: 8px; padding-left: 24px;">
            <span>Я являюсь студентом <span class="class-highlight">АГУ</span> и обучаюсь на курсе <span class="string-highlight">"Математическое обеспечение и администрирование информационных систем"</span>.</span><br>
            <span>Занимаюсь <span class="keyword-highlight">backend</span> и <span class="keyword-highlight">desktop</span> разработкой, однако мне также нравится развиваться в других направлениях. </span>
            <span>При разработке программного продукта стараюсь придерживаться принципов <span class="class-highlight">YAGNI</span>, <span class="class-highlight">SOLID</span>, <span class="class-highlight">DRY</span>, <span class="class-highlight">KISS</span> для достижения лучшего качества программного кода.</span>
        </div>
    </div>

    <div id="skills">
        <span class="big-text">Навыки</span>
        <div style="padding: 8px; padding-left: 24px;">
            <span class="keyword-highlight average-text">СУБД</span><br>
            <span style="padding: 8px;" class="method-highlight">MSSQL, MySQL, PostrgreSQL</span><br>
            <br>
            <span class="keyword-highlight average-text">Языки</span><br>
            <span style="padding: 8px;" class="method-highlight">C#, Java</span><br>
            <br>
            <span class="keyword-highlight average-text">Плафтормы</span><br>
            <span style="padding: 8px;" class="method-highlight">Windows, Android</span><br>
            <br>
            <span class="keyword-highlight average-text">Технологии</span><br>
            <span style="padding: 8px;" class="method-highlight">ASP.NET Core, WPF, WinForms</span><br>
            <br>
            <span class="keyword-highlight average-text">Другое</span><br>
            <span style="padding: 8px;" class="method-highlight">REST API, Web API</span><br>
        </div>
    </div>

    <div id="work-experience">
        <span class="big-text">Опыт работы</span>

        <div style="padding: 8px; padding-left: 24px;">
            <a class="link keyword-highlight average-text" href="http://tech-crew.ru" target="_blank">TechCrew</a>
            <div style="padding: 8px;">
                <span class="method-highlight">C#, SQL, PostgreSQL</span>
            </div>

            <div style="padding: 8px;">
                <span>Разработка <span class="class-highlight">CRM</span> платформы для аутстафа.</span>
                <ul type="circle" style="padding-left: 40px;">
                    <li>Учавствовал в создании сервиса сбора и обработки резюме, получаемых через <span class="class-highlight">API</span> <span style="color: #ff1b21;">HH.RU</span> и из каналов <span style="color: #3390ec;">Telegram</span>;</li>
                    <li>Формировал документацию к <span class="class-highlight">API</span>;</li>
                    <li>Участвовал в разработке базы данных под управлением <span class="class-highlight">СУБД</span> <span class="method-highlight">PostrgeSQL</span>.</li>
                </ul>
            </div>
        </div>
    </div>
</div>