
<div id="projects">

    <link href="core/css/projects.css" rel="stylesheet" type="text/css" />
    <link href="core/module/github-widget/github-widget.css" rel="stylesheet" type="text/css" />

    <span class="big-text">Мои работы</span>
    <div style="padding: 8px; padding-left: 24px;">
        <div class="github-widget" data-user="austallien"></div>
    </div>

    <script src="core/module/github-widget/github-widget.js"></script>
    <script type="text/javascript">initialize_github_widgets();</script>
</div>